{{#each secrets}}<!-- {{this}} -->
{{/each}}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}dreamwiki!{{/if}}</title>
    <style>
      body {
        background-color:#323;
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color:#eac;
      }
      pre {
        margin:0 auto;
        display:block;
        width:700px;
        text-align:center;
      }
      .grime {
        color:#736;
      }
      a:link, a:visited {
        color:#f5a;
        text-decoration:none;
      }
      a.link:link, a.link:visited {
        color:#323;
        background-color:rgb(255, 0, 119);
        text-decoration:none;
      }
      a:hover, a:active {
        color:#fff !important;
        background: none !important;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>