<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <style>
      body {
        background-color:rgb(12, 15, 8);
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(110, 134, 68);
      }
      pre {
        margin:0 auto;
        display:block;
        width:700px;
        text-align:center;
      }
      .grime {
        color:rgb(67, 97, 15);
      }
      a:link, a:visited {
        color:rgb(214, 221, 115);
        text-decoration:none;
      }
      a.link:link, a.link:visited {
        color:rgb(247, 204, 12);
        text-decoration:none;
      }
      a:hover, a:active {
        color:#fff !important;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>