<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <style>
      body {
        background-color:rgb(12, 14, 9);
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(91, 121, 36);
      }

      a:link, a:visited {
        color:rgb(171, 179, 55);
        text-decoration:none;
      }
      a:hover, a:active {
        color:#fff;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>