<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <style>
      body {
        background-color:#fff4e4;
        position: relative;
      }
      li {
        padding:1px;
      }
      .stat {
        display:inline-block;
        float:left;
        width:300px;
        border-top:4px rgb(62, 190, 147) solid;
        margin:2px;
        padding:2px;
      }
      .statlist {
        height:400px;
        overflow:scroll;
      }
      .statlist li:nth-child(even) {
        background-color:rgba(62, 190, 126, 0.1);
      }
      .false {
        color:rgb(255, 0, 119);
      }
      .statlist li:hover {
        background-color:#000000;
        color:#fff4e4;
      }
      .bawrks span {
        display:block;
      }
      .targets {
        color: rgb(62, 190, 147);
      }
      .targets span::before{
        content: '-> ';
      }
      .bawrks {
        padding:5px;
        background-color:#000000;
        border: #fff4e4 3px double;
        position:absolute;
        top:0;
        left:0;
        color:#fff4e4;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>