<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>title</title>
    <style>
      body {
        background-color:#fff4e4;
      }
      .stat {
        display:inline-block;
        float:left;
        width:300px;
        border-top:4px rgb(62, 190, 147) solid;
        margin:2px;
        padding:2px;
      }
      .statlist {
        height:400px;
        overflow:scroll;
      }
      .statlist li:nth-child(even) {
        background-color:rgba(62, 190, 126, 0.1);
      }
      .false {
        color:rgb(255, 0, 119);
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>