<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}dreamwiki{{/if}}</title>
    <style>
      body {
        background-color:#CEC3C1;
        position: relative;
        font-family: 'Courier New', Courier, monospace;
      }

      li {
        padding:1px;
      }
      hr {
        border-top:4px #DE3C4B solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
      }
      ol {
        margin-top: 0;
      }

      .columns {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: stretch;
      }
      .stat {
        border-top:4px #DE3C4B solid;
        margin:2px;
        padding:2px;
      }
      .statlist {
        height:500px;
        overflow:auto;
        background-color: #240115;
        color:#CEC3C1;
        padding:4px;
      }
      .statlist li:nth-child(even) {
        background-color: #CEC3C111;
      }
      .false {
        color:#DE3C4B;
      }
      .statlist li:hover {
        background-color:#240115;
        color:#87F5FB;
      }
      .bawrks span {
        display:block;
      }
      .targets {
        color: #87F5FB;
      }
      .targets span::before{
        content: '→';
      }
      .sources {
        color:#DE3C4B;
      }
      .sources span::after {
        content: '→';
      }
      .targets, .sources {
        float:left;
        padding:5px;
      }
      .bawrks {
        background-color:#2F131E;
        border: #CEC3C1 3px double;
        position:absolute;
        top:0;
        left:0;
        color:#CEC3C1;
      }
      a:link, a:visited {
        color:#00916E;
      }
      a:hover, a:active {
        color:#DE3C4B;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>